* {
    margin: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #2e2c39;
}

/* Fuentes de la página */
.titillium-web-extralight {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .titillium-web-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .titillium-web-black {
    font-family: "Titillium Web", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .titillium-web-extralight-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .titillium-web-light-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .titillium-web-regular-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .titillium-web-semibold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .titillium-web-bold-italic {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .space-grotesk {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

nav {
  padding: 15px 40px;
  height: 80px;
  background-color: #A99DCD;
}

.nav_cont {
  color: #2e2c39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: auto;
}

.menu_ham { 
  display: none;
}

.nav_links a{ 
  padding: 0 8px;
  font-weight: 600;
  transform: scale(1.3);
  transition: 0.3s;
}

.nav_links a:hover{ 
  color: #e1ddeb;
  transform: scale(1.3);
  transition: 0.3s;
  font-weight: bolder;
  box-shadow: 4px 6px 22px 5px rgba(207,207,207,1);
  border-radius: 5px;
}

#highlight:hover {
  color: #2e2c39;
  border-radius: 5px;
  background-color: #e1ddeb;
}

@media (max-width:767px) {

.menu_ham {
  display: inherit;
  color:#2e2c39;
  font-weight: bolder;
}

.nav_links {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 80px;
  background-color: #2e2c39;
  display: grid;
  place-items: center;
  clip-path: circle(0% at top right);
  transition: clip-path .4s;
}

.nav_links a{
  color: #e1ddeb;
}

/* Para que aparezca el menu al pasar el puntero del mouse */
.nav_links:target{
  clip-path: circle(150% at top right);
}

.nav_links a:hover{ 
  display: none;
}

#highlight:hover {
  display: none;
}

}